*.class

# Eclipse :
*.project
*.classpath
.gitignore

# Mobile Tools for Java (J2ME) :
.mtj.tmp/

# Package Files :
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml :
hs_err_pid*

# Maven (com Eclipse) :
target/*
.settings/*
/res.out
/Chamada_de_Localizar_String.bat
/Localizar_String.bat
/Tempos Execução Formaggio.log
/TemposExecução.Prolac.log
/TemposExecução.Prolac.novo.log
